//
// 全局Sass变量（该项目专用的 和 覆盖fe-base的）
//

// Font
// ------------------
$font-family-base: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑","\5b8b\4f53",Arial,sans-serif !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-weight-base: normal !default;
$font-path: '~hview/src/styles/fonts' !default;


// Background
// ------------------
$background-color-gray-row: #F0F0F0 !default;
$background-color-yellow-row: #FFF7DA !default;
$background-color-blue-row: #D9EBFF !default;
$background-color-pink-row: #FFE9D9 !default;
$background-color-hover-row: #D7F7F6 !default;


// Border
// ------------------
$border-color-middle-line: #B4D7FF !default;


// Scrollbar
// ------------------
$scrollbar-size: 10px !default;


// Header
// ------------------
$header-background-image: url('/static/img/background.png') !default;


// Sidebar
// ------------------
$sidebar-text-color: #81CBC8 !default;
$sidebar-text-color-hover: #FFE577 !default;
$sidebar-bg-color: #18222f !default;
$sidebar-bg-color-hover: #0b1017 !default;
$sidebar-detail-report-text-color: #FFAA5B !default;
$sidebar-detail-report-text-color-hover: #FFC085 !default;
$sidebar-statistics-report-text-color: #9AD769 !default;
$sidebar-statistics-report-text-color-hover: #C7FF9A !default;
$sidebar-module-separator-color: #23293C !default;


// Logo
// ------------------
$logo-path: '/static/img/logo.png' !default;
$logo-collapsed-path: '/static/img/logo-collapsed.jpg' !default;
$logo-height: 60px !default;


// Summary Card
$summary-card-width:  320px !default;
$summary-card-gap:     12px !default;
$summary-card-background-color: #fff !default;
$summary-card-box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.55) !default;
$summary-card-hover-box-shadow: 0 0 30px 0 rgba(0,0,0,0.55) !default;
$summary-card-active-border-width: 4px !default;
$summary-card-active-border-color: #5FC8C4 !default;


// z-index
// ------------------
$z-index-normal:             1 !default;
$z-index-popper:          2000 !default; // select下拉选项、window-input窗体、tooltip、popover等各种弹出组件
$z-index-loading-mask:   10000 !default; // 加载遮罩
$z-index-summary-popup:  10001 !default; // 摘要信息层
$z-index-sidebar-panel:  99999 !default; // 边栏悬浮后显示二级、三级菜单的面板
